body{
    margin: 0;
    padding: 0;
}

iframe{
    width: 100%;
}

#noite{
    background-image: url(../img/ceunoturno.jpg);
    background-size: cover;
}

#dia{
    background-image: url(../img/parque.jpg);
    background-size: cover;
}

  
.menu ul {
    margin: 0;
    text-align: center;
    background:linear-gradient(90deg, transparent 12%, rgb(255 0 0) , rgb(255 247 0)48%, rgb(255 0 0) 72%,transparent 93% );
}
  
.menu ul li {
    display: inline-block;
}
  
.menu ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    text-decoration: none;
    display: block;
}

.select{
    background-color: #efe582;
}

.quadro { 
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    min-height: 80vh;
    border-radius: 20px;
}

.barra{
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.bloco{
    border: 8px double;
    background-color: #669ac7;
    width: 45%;
    padding: 1%;
    border-radius: 12px;
}


img{
    width: 99%;
}

.local{
    justify-content: space-between;
    display: flex;
}

