body{
    margin: 0;
    padding: 0;
}

iframe{
    width: 100%;
}

#noite{
    background-image: url(../img/ceunoturno.jpg);
    background-size: cover;
}

#dia{
    background-image: url(../img/parque.jpg);
    background-size: cover;
}


.logo{
    padding: 1%;
    font-size: x-large;
    text-align: center;
    font-family:fangsong;
    color: #fff;
}
  
.menu ul {
    margin: 0;
    text-align: center;
    background:linear-gradient(90deg, transparent 12%, rgb(255 0 0) , rgb(255 247 0)48%, rgb(255 0 0) 72%,transparent 93% );
}
  
.menu ul li {
    display: inline-block;
}
  
.menu ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    text-decoration: none;
    display: block;
}

.select, .select a{
    background: linear-gradient(86deg,transparent 7%, rgb(0 0 0), transparent 91%);
    color: #fff;
}


.quadro { 
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    min-height: 80vh;
    border-radius: 20px;
}

.barra{
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.bloco{
    box-shadow: 1px 0 5px rgb(0 27 0), inset 0 0 100px rgb(155 197 218 / 25%);
    border: 8px double;
    width: 45%;
    padding: 1%;
    border-radius: 12px;
    background: linear-gradient(15deg, black, transparent);
    color: #fff;
}

.bloco2{
    box-shadow: 1px 0 5px rgb(0 27 0), inset 0 0 100px rgb(155 197 218 / 25%);
    border: 8px double;
    width: 45%;
    padding: 1%;
    border-radius: 12px;
    background: linear-gradient(15deg, rgb(170, 221, 157), transparent);
}

img{
    width: 99%;
}

.local{
    justify-content: space-between;
    display: flex;
}

